body {
    
    font-family: Candara, Verdana, sans-serif;
    margin: 1em;
    max-width: 50em;
}
    

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

.tabell1{
    border: 0.15em solid red;
    border-collapse: collapse;
    background-color: #ffcccc;
}

.tabell2{
    border-collapse: collapse;
    background-color: #ffcc99;
    border:0.15em solid orange;
}

tr.red:hover {
    background-color: #e74444;
}

 tr:hover{
    background-color: #eda03a;
 }

th, td{
    border-left: 0.1em solid black;
    padding: 0.4em;
}

tfoot{
    background-color: #eda03a;
}

#source{
    color: #009900;
   position: absolute;
  right: 1em;
  bottom: auto;
}

a:visited{
    color: #6544e7dd;
}

a:hover{
    color: #e74444;
}